<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="net.nashlegend.sourcewall">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:name=".App"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activities.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/BottomTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.PostListActivity"
            android:label="@string/post"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.Browser"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.SettingActivity"
            android:label="@string/title_activity_setting"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.SettingActivity" />
        </activity>
        <activity
            android:name=".activities.ArticleActivity"
            android:label="@string/article"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.PostActivity"
            android:label="@string/post"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.QuestionActivity"
            android:label="@string/question"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.MyFavorsActivity"
            android:label="@string/my_favors"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.LoginActivity"
            android:label="@string/title_activity_login"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.MyPostsActivity"
            android:label="@string/my_posts"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.MyQuestionsActivity"
            android:label="@string/my_questions"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.MyAnswersActivity"
            android:label="@string/my_answer"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.ReplyActivity"
            android:label="@string/title_activity_reply_article"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".activities.Reply2Activity"
            android:label="@string/title_activity_reply_article"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".activities.AnswerActivity"
            android:label="@string/title_activity_answer"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.SimpleReplyActivity"
            android:label="@string/title_activity_simple_reply"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".activities.PublishPostActivity"
            android:label="@string/title_activity_publish_post"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".activities.SearchActivity"
            android:label="@string/search"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.SingleReplyActivity"
            android:label="@string/title_activity_single_reply"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.MessageCenterActivity"
            android:label="@string/title_activity_message_center"
            android:screenOrientation="portrait" />
        <activity android:name=".activities.UserActivity"
            android:label="@string/user_center"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activities.ImageActivity"
            android:label="@string/title_activity_image"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.TestActivity"
            android:label="@string/title_activity_test"
            android:screenOrientation="portrait" />
        <activity
            android:name=".wxapi.WXEntryActivity"
            android:exported="true"
            android:label="@string/title_activity_wxentry"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.WeiboShareActivity"
            android:exported="true"
            android:label="@string/title_activity_weibo_share"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="com.sina.weibo.sdk.action.ACTION_SDK_REQ_ACTIVITY" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.sina.weibo.sdk.component.WeiboSdkBrowser"
            android:configChanges="keyboardHidden|orientation"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />

        <meta-data
            android:name="UMENG_APPKEY"
            android:value="${UMENG_APP_KEY}" />
        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="${CHANNEL_NAME}" />

    </application>

</manifest>