<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.sourcewall">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".AppApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/BottomTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SettingActivity"
            android:label="@string/title_activity_setting"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.sourcewall.BaseActivity" />
        </activity>
        <activity
            android:name=".ShuffleActivity"
            android:label="@string/shuffle" />
        <activity
            android:name=".ArticleActivity"
            android:label="@string/article" />
        <activity
            android:name=".PostActivity"
            android:label="@string/post" />
        <activity
            android:name=".QuestionActivity"
            android:label="@string/question" />
        <activity
            android:name=".LoginActivity"
            android:label="@string/title_activity_login" />
        <activity
            android:name=".ReplyActivity"
            android:label="@string/title_activity_reply_article"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".AnswerActivity"
            android:label="@string/title_activity_answer" />
        <activity
            android:name=".SimpleReplyActivity"
            android:label="@string/title_activity_simple_reply" />
        <activity
            android:name=".PublishPostActivity"
            android:label="@string/title_activity_publish_post"
            android:windowSoftInputMode="adjustResize" />
    </application>

</manifest>
