.group-list {
	border-top: 1px solid #ebedee;
	border-bottom: 1px solid #ebedee;
	padding: 0 8px;
	background: #fff
}

.group-list li {
	position: relative;
	border-bottom: 1px solid #ebedee;
	margin-bottom: -1px
}

.group-list li a {
	display: block;
	padding: 15px 0;
	font-size: 14px;
	line-height: 24px;
	overflow: hidden
}

.group-list li b,.group-list li i,.group-list li img,.group-list li span {
	display: block;
	float: left
}

.group-list li i {
	width: 33px;
	text-align: center
}

.group-list li .top {
	color: #43ccb5
}

.group-list li img {
	margin-right: 10px
}

.group-list li b {
	width: 45%;
	margin-right: 3px
}

.group-list li .group-member {
	float: right;
	width: 60px;
	margin-right: 28px;
	font-size: 12px;
	color: #868b98;
	overflow: hidden
}

.group-list li .icon-enter {
	position: absolute;
	right: 12px;
	top: 20px
}

.post-list a:active h4,.post-list a:visited h4 {
	color: #999
}

.group-apply-page {
	padding: 44px 25px;
	font-size: 14px
}

.group-apply-page p {
	color: #868b98;
	line-height: 24px
}

.group-apply-page p .group-name {
	color: #43ccb5
}

.group-apply-page form {
	margin-top: 7px
}

.group-apply-page textarea {
	width: 99%;
	margin-bottom: 10px
}

.group-apply-page .form-foot {
	overflow: hidden;
	text-align: right
}

.group-apply-page .form-foot .btn-primary {
	margin-right: 10px
}

.group-apply-page .apply-tip {
	color: #ea324d
}

.unlogin-tip {
	position: absolute;
	top: 50%;
	left: 0;
	width: 100%;
	color: #868b98;
	text-align: center;
	margin-top: -50px
}

.unlogin-tip p {
	font-size: 14px;
	margin-bottom: 15px
}

.unlogin-tip .btn-long {
	width: 70%;
	margin: 0 auto
}

.post-list {
	padding: 0 8px;
	border-top: 1px solid #ebedee;
	border-bottom: 1px solid #ebedee;
	background: #fff
}

.post-list li {
	margin-bottom: -1px;
	border-bottom: 1px solid #ebedee
}

.post-list .post {
	display: block;
	padding: 12px;
	line-height: 18px
}

.post-list .post h4 {
	font-size: 14px;
	line-height: 24px;
	color: #32393d
}

.post-list .post-info {
	display: block;
	margin-top: 10px;
	text-align: right;
	font-size: 12px;
	color: #b3b6bd
}

.post-list .post-info a {
	color: #b3b6bd
}

.post-list .post-info-right span {
	margin-left: 15px
}

.post-list .post-author {
	float: left
}

.main {
	position: relative
}

.post-index-list {
	padding: 0 8px 1px;
	background: #f9f9f9
}

.post-index-list li {
	margin-bottom: 10px;
	border: 1px solid #ebedee;
	padding: 12px;
	background: #fff;
	line-height: 18px
}

.post-index-list .post {
	font-size: 14px;
	overflow: hidden
}

.post-index-list .post-img {
	display: block;
	float: right;
	margin: 2px 0 0 8px;
	width: 42px;
	height: 42px;
	background-position: center;
	background-size: cover;
	overflow: hidden
}

.post-index-list .post-info {
	font-size: 12px;
	color: #b3b6bd;
	margin-top: 10px
}

.post-index-list .post-info-content {
	margin-right: 12px
}

.post-index-list .like-btn {
	padding: 0 12px 0 3px;
	color: #b3b6bd
}

.post-index-list .like-btn span {
	vertical-align: top;
	margin-right: 4px
}

.post-index-list .liked-btn .glyphicon {
	color: #43ccb5
}

.post-index-list .post-reply-num {
	white-space: nowrap
}

.group-main-page .page-tab-flat {
	background: #fff
}

.group-header {
	background: #f9f9f9;
	padding: 12px;
	border-bottom: 1px solid #ebedee;
	overflow: hidden
}

.group-header .group-img {
	display: block;
	float: left;
	width: 50px;
	height: 50px;
	overflow: hidden;
	margin-right: 10px
}

.group-header .group-info {
	line-height: 24px;
	overflow: hidden
}

.group-header .group-status {
	float: right;
	margin-top: 10px
}

.group-header .group-name {
	display: block;
	margin: -4px 0 8px
}

.group-header .group-member {
	float: left;
	color: #868b98;
	font-size: 12px;
	line-height: 22px;
	margin-top: 4px
}

.group-header .btn-join,.group-header .btn-joined,.group-header .btn-newpost {
	display: block;
	float: right;
	height: 32px;
	line-height: 32px;
	font-size: 16px;
	padding: 0 7px;
	margin-left: 11px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	-ms-border-radius: 2px;
	-o-border-radius: 2px;
	border-radius: 2px
}

.group-header .btn-join,.group-header .btn-newpost {
	color: #fff;
	background: #43ccb5
}

.group-header .btn-joined {
	color: #32393d
}

.post .post-info span {
	margin-right: 5px
}

.post .post-marrow,.post .post-tag,.post .post-top {
	font-size: 12px;
	color: #fff;
	display: inline-block;
	padding: 0 4px;
	margin-right: 5px;
	height: 20px;
	line-height: 20px;
	border-radius: 2px
}

.post .post-top {
	background-color: #6dd4fc
}

.post .post-marrow {
	background-color: #f69e88
}

.post .post-tag {
	background-color: #3ad1c2
}

.group-new-post h2 {
	height: 36px;
	line-height: 36px;
	font-size: 16px;
	padding: 0 6px;
	border-bottom: 1px solid #ebedee;
	margin: 0 8px 11px
}

.group-new-post .current-path a {
	line-height: 36px
}

.group-new-post .post-title {
	display: block;
	width: 95%;
	margin: 0 auto 12px
}

.group-new-post .form-foot .btn-plat,.group-new-post .form-foot .btn-primary {
	float: right;
	margin-left: 10px
}

.group-comments {
	padding-bottom: 15px;
	background: #fff
}

.group-comments .comment {
	margin: 0 8px;
	border-bottom: 1px solid #ebedee;
	padding: 15px 7px
}

.group-comments .cmt-info {
	overflow: hidden
}

.group-comments .cmt-author-img {
	float: left;
	width: 30px;
	margin-right: 10px
}

.group-comments .cmt-author-img img {
	max-width: 100%;
	vertical-align: top
}

.group-comments .cmt-info-txt {
	margin-left: 40px;
	line-height: 16px;
	font-size: 12px
}

.group-comments .cmt-info-txt-left {
	float: left;
	color: #868b98
}

.group-comments .cmt-info-txt-right {
	float: right;
	margin-right: -9px;
	line-height: 16px;
	font-size: 16px
}

.group-comments .cmt-info-txt-right a {
	padding: 15px;
	color: #b6b6b6
}

.group-comments .cmt-info-txt-right a .cmt-like-num {
	font-size: 14px
}

.group-comments .cmt-info-txt-right .cmt-liked {
	padding: 15px
}

.group-comments .cmt-like .glyphicon-zan,.group-comments .cmt-liked .glyphicon-zan {
	font-size: 14px;
	margin-right: 3px
}

.group-comments .glyphicon-reply {
	font-size: 14px
}

.group-comments .cmt-liked {
	color: #e1e4e5
}

.group-comments .cmt-author {
	display: block;
	height: 16px;
	margin-bottom: 3px;
	line-height: 16px;
	font-size: 12px;
	color: #32393d
}

.group-comments .cmt-time {
	margin-left: 15px
}

.group-comments .cmt-main {
	margin-top: 8px;
	line-height: 20px;
	font-size: 12px
}

.group-comments .cmt-main pre {
	word-break: break-word
}

.group-comments .cmt-main blockquote {
	padding-left: 10px;
	border-left: 1px solid #e1e4e5;
	color: #999
}

.group-comments .cmt-main img {
	display: block;
	margin: 5px 0;
	max-width: 200px
}

.arrow-down,.arrow-left,.arrow-right,.arrow-up {
	width: 0;
	height: 0;
	font-size: 0;
	line-height: 0;
	border: 5px dashed transparent
}

.arrow-up {
	border-bottom-style: solid;
	border-bottom-color: #000
}

.arrow-down {
	border-top-style: solid;
	border-top-color: #000
}

.arrow-right {
	border-left-style: solid;
	border-left-color: #000
}

.arrow-left {
	border-right-style: solid;
	border-right-color: #000
}

.icon-back,.icon-bgdown,.icon-bgright,.icon-close,.icon-close-small,.icon-down,.icon-enter,.icon-logo,.icon-mb,.icon-more,.icon-notice,.icon-out,.icon-pc,.icon-quit,.icon-recom,.icon-recom-disable,.icon-reg,.icon-remind,.icon-reply,.icon-share,.icon-share-disable,.icon-support,.icon-up,.icon-upload-img,.icon-user,.icon-userbar-unlogin,.icon-write {
	display: inline-block;
	text-indent: -9999px;
	overflow: hidden;
	vertical-align: middle
}

.icon-userbar-unlogin {
	background: url(../images/ea55beac.icon-userbar-unlogin.png) no-repeat;
	width: 23.5px;
	height: 23.5px;
	background-size: 23.5px 23.5px
}

.icon-user {
	background: url(../images/929ad323.icon-user.png) no-repeat;
	width: 29.5px;
	height: 29.5px;
	background-size: 29.5px 29.5px
}

.icon-reg {
	background: url(../images/45b5fd90.icon-reg.png) no-repeat;
	width: 29.5px;
	height: 29.5px;
	background-size: 29.5px 29.5px
}

.icon-notice {
	background: url(../images/9a997a57.icon-notice.png) no-repeat;
	width: 22px;
	height: 18.5px;
	background-size: 22px 18.5px
}

.icon-remind {
	background: url(../images/f397e342.icon-remind.png) no-repeat;
	width: 22px;
	height: 16.5px;
	background-size: 22px 16.5px
}

.icon-quit {
	background: url(../images/cc8c414c.icon-quit.png) no-repeat;
	width: 21px;
	height: 19px;
	background-size: 21px 19px
}

.icon-more {
	background: url(../images/21655e89.icon-more.png) no-repeat 5.5px 5.5px;
	width: 29.5px;
	height: 29.5px;
	background-size: 29.5px 29.5px;
	padding: 5.5px
}

.icon-up {
	background: url(../images/1db0cf8a.icon-up.png) no-repeat;
	width: 29.5px;
	height: 29.5px;
	background-size: 29.5px 29.5px
}

.icon-down {
	background: url(../images/1db0cf8a.icon-up.png) no-repeat;
	width: 29.5px;
	height: 29.5px;
	background-size: 29.5px 29.5px;
	transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	-webkit-transform: rotate(180deg)
}

.icon-pc {
	background: url(../images/6b5e672c.icon-pc.png) no-repeat;
	width: 29px;
	height: 23.5px;
	background-size: 29px 23.5px
}

.icon-mb {
	background: url(../images/1e25ac94.icon-mb.png) no-repeat;
	width: 13px;
	height: 23.5px;
	background-size: 13px 23.5px
}

.icon-back {
	background: url(../images/ef1eea3b.icon-back.png) no-repeat;
	width: 29px;
	height: 26.5px;
	background-size: 29px 26.5px
}

.icon-write {
	background: url(../images/7be17a7c.icon-write.png) no-repeat;
	width: 29px;
	height: 29px;
	background-size: 29px 29px
}

.icon-reply {
	background: url(../images/ae0ee64a.icon-reply.png) no-repeat;
	width: 45px;
	height: 45px;
	background-size: 45px 45px
}

.icon-bgdown {
	background: url(../images/d0aa6a3a.icon-bgdown.png) no-repeat;
	width: 16px;
	height: 16px;
	background-size: 16px 16px
}

.icon-bgright {
	background: url(../images/d0aa6a3a.icon-bgdown.png) no-repeat;
	width: 16px;
	height: 16px;
	background-size: 16px 16px;
	transform: rotate(-90deg);
	-ms-transform: rotate(-90deg);
	-webkit-transform: rotate(-90deg)
}

.icon-close {
	background: url(../images/d6823053.icon-close.png) no-repeat;
	width: 22.5px;
	height: 22.5px;
	background-size: 22.5px 22.5px
}

.icon-close-small {
	background: url(../images/4b6ae8be.icon-close-small.png) no-repeat 10px 2px;
	background-size: 12px 12px;
	width: 24px;
	height: 24px
}

.icon-out {
	background: url(../images/82873f5c.icon-out.png) no-repeat;
	width: 14.5px;
	height: 15.5px;
	background-size: 14.5px 15.5px
}

.extend .extend-icon,.icon-extend {
	background: url(../images/1db0cf8a.icon-up.png) center center no-repeat;
	width: 29.5px;
	height: 29.5px;
	background-size: 29.5px 29.5px;
	transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	-webkit-transform: rotate(180deg)
}

.get-comments .extend-icon,.icon-extend-cmt {
	background: url(../images/d0aa6a3a.icon-bgdown.png) center center no-repeat;
	width: 18px;
	height: 18px;
	background-size: 18px 18px;
	transform: rotate(-90deg);
	-ms-transform: rotate(-90deg);
	-webkit-transform: rotate(-90deg)
}

.icon-search {
	background: url(../images/04b25be7.icon-search-gray.png) 100% 100% no-repeat;
	width: 23px;
	height: 23px;
	background-size: 23px 23px
}

.icon-search:active {
	background: url(../images/be00e68a.icon-search.png) 100% 100% no-repeat;
	width: 23px;
	height: 23px;
	background-size: 23px 23px
}

.icon-enter {
	background: url(../images/83afd4e7.icon-enter.png) no-repeat;
	width: 15.5px;
	height: 15.5px;
	background-size: 15.5px 15.5px
}

.cmt-form .icon-upload-img {
	background: url(../images/84ee3edf.icon-upload-img.png) no-repeat 10px 13px;
	background-size: 21.5px 16.5px;
	width: 100px;
	height: 35px;
	text-indent: 40px;
	font-size: 12px;
	color: #43ccb5;
	margin-top: -10px
}

.icon-support {
	background: url(../images/15483fd1.icon-support.png) no-repeat;
	width: 7.5px;
	height: 9.5px;
	background-size: 7.5px 9.5px
}

.icon-qq-login {
	background: url(../images/f6cf19e4.icon-qq-login.png) no-repeat;
	width: 17.5px;
	height: 17.5px;
	background-size: 17.5px 17.5px
}

.icon-weibo-login {
	background: url(../images/627cee95.icon-weibo-login.png) no-repeat;
	width: 21px;
	height: 17px;
	background-size: 21px 17px
}

.icon-renren-login {
	background: url(../images/428099ed.icon-renren-login.png) no-repeat;
	width: 16.5px;
	height: 16.5px;
	background-size: 16.5px 16.5px
}

.icon-recom {
	background: url(../images/e2145707.icon-recom.png) no-repeat;
	width: 11px;
	height: 14px;
	background-size: 11px 14px
}

.icon-recom-disable {
	background: url(../images/916b740a.icon-recom-disable.png) no-repeat;
	width: 11px;
	height: 14px;
	background-size: 11px 14px
}

.icon-share {
	background: url(../images/59f8e1ac.icon-share.png) no-repeat;
	width: 13px;
	height: 13px;
	background-size: 13px 13px
}

.icon-share-disable {
	background: url(../images/0718c8cf.icon-share-disable.png) no-repeat;
	width: 13px;
	height: 13px;
	background-size: 13px 13px
}

.current-path {
	margin: 0 14px;
	overflow: hidden
}

.current-path a,.current-path span {
	float: left;
	font-size: 14px;
	line-height: 36px;
	color: #32393d
}

.current-path a b,.current-path span b {
	padding: 0 4px
}

.content-paragraph,.html-text-mixin p,.html-text-mixin td,.html-text-mixin th {
	color: #d0d0d0;
	font-family: "Microsoft YaHei","WenQuanYi Micro Hei",SimHei,Tahoma,sans-serif;
	text-align: left;
	margin-bottom: 1.2em
}

.content-main {
	text-align: center;
	line-height: 1.875
}

.content-main .header .title {
	font-size: 18px;
	font-family: "Microsoft YaHei","WenQuanYi Micro Hei",SimHei,Tahoma,sans-serif;
	line-height: 1.3;
	color: #32393d;
	text-align: left;
	padding: 5px 0 8px
}

.content-main .header .publish {
	background: 0 0;
	border: 0;
	padding: 0 0 10px
}

.content-main .header .publish .author,.content-main .header .publish .date {
	font-size: 12px;
	font-family: "Microsoft YaHei","WenQuanYi Micro Hei",SimHei,Tahoma,sans-serif;
	color: #868b98
}

.content-main .header .publish .date {
	margin-left: 5px;
	font-size: 12px
}

.content-main .author-avatar {
	float: left;
	display: block;
	width: 30px;
	margin-right: 10px;
	overflow: hidden
}

.content-main .author-avatar img {
	width: 30px;
	padding: 0;
	margin: 0
}

.content-main img {
	max-width: 300px;
	height: auto;
	display: block
}

.content-main .ZoomIn img {
	max-width: 300px;
	width: auto;
	padding: 0;
	padding-left: 0;
	margin: 0;
	vertical-align: top
}

.content-main .recommend-btn {
	float: right
}

.content-main .share-btn {
	float: left
}

.content-main .recommend-btn,.content-main .share-btn {
	color: #b6b6b6
}

.content-main .recommend-btn .glyphicon,.content-main .share-btn .glyphicon {
	margin-right: 5px
}

.content-main .btn-block-active {
	color: #43ccb5
}

.content-main .btn-gray span,.content-main .btn-gray-disable span {
	margin-right: 9px
}

.content-main .content-func-area {
	margin-top: 10px
}

.content-main .hide-layers {
	margin: 0 -14px 10px
}

.content-main .hide-layer {
	display: none;
	position: relative;
	height: 24px;
	padding: 21px 0 20px;
	border-top: 1px solid #e1e4e5;
	border-bottom: 1px solid #e1e4e5;
	background: #f9f9f9;
	text-align: center;
	color: #43ccb5;
	line-height: 24px
}

.content-main .hide-layer .arrow-up {
	position: absolute;
	border: 6px dashed transparent
}

.content-main .hide-layer .left-arrow,.content-main .hide-layer .right-arrow {
	top: -12px;
	border-bottom-color: #e1e4e5
}

.content-main .hide-layer .left-arrow .arrow-up,.content-main .hide-layer .right-arrow .arrow-up {
	top: -5px;
	left: -6px;
	border-bottom-color: #f9f9f9
}

.content-main .hide-layer .left-arrow {
	left: 58px
}

.content-main .hide-layer .right-arrow {
	right: 58px
}

.ZoomBox {
	text-align: center
}

.content-zoom {
	display: inline-block;
	position: relative;
	margin: 12px auto
}

.content-zoom .zoom-icon {
	position: absolute;
	right: 0;
	top: 0;
	width: 50px;
	height: 50px;
	overflow: hidden;
	text-indent: -999em;
	background: url(../images/095e795f.icon-zoomin.png) center center no-repeat
}

.extend {
	display: block;
	width: 110px;
	margin: 20px auto
}

.extend .extend-txt {
	font-size: 16px;
	line-height: 1.84;
	text-indent: 3px;
	color: #868b98
}

.get-comments {
	width: 123px
}

.get-comments .extend-icon {
	margin: 6px 0
}

.html-text-mixin {
	text-align: left;
	color: #32393d
}

.html-text-mixin p {
	text-align: left;
	margin-bottom: 1.2em
}

.html-text-mixin a {
	text-decoration: underline;
	color: #80cbc4;
	word-break: break-all
}

.html-text-mixin h2,.html-text-mixin li {
	text-align: left
}

.text-list {
	margin: 0 8px;
	padding: 0 8px
}

.text-list p {
	border-bottom: 1px solid #ebedee
}

.text-list p a {
	display: block;
	height: 41px;
	color: #32393d
}

.text-list p a:active,.text-list p a:visited {
	color: #999
}

.current-path {
	height: 42px;
	margin-left: 15px
}

.current-path a {
	line-height: 42px
}

.content-main {
	margin: 0;
	padding: 15px;
	background: #505050
}

.content-main .header .publish .author,.content-main .header .publish .date {
	line-height: 30px
}

.content-block .pager {
	background: #fff
}

.html-text-mixin {
	font-size: 14px
}

.group-new-post .current-path {
	width: 95%;
	margin: 10px auto 8px
}

.group-new-post input[placeholder],.group-new-post textarea[placeholder] {
	text-indent: 5px
}

.reply-bar {
	position: fixed;
	bottom: 10px;
	right: 10px;
	height: 48px
}

.reply-bar .reply-bar-btn,.reply-bar .reply-bar-btn:visited {
	display: block;
	height: 100%;
	line-height: 48px;
	text-align: center;
	color: #fff;
	font-size: 12px
}

.profile-page .page-title {
	padding: 0 0 0 15px;
	height: 40px;
	line-height: 40px;
	clear: both
}

.profile-page .profile-title {
	display: block;
	position: relative
}

.profile-page .profile-title .icon-enter {
	position: absolute;
	top: 12px;
	right: 16px
}

.profile-page .group-list {
	padding: 0 2px;
	overflow: hidden
}

.profile-page .group-list li {
	float: left;
	width: 25%;
	border-bottom: 0;
	margin-bottom: 0
}

.profile-page .group-list li a {
	width: 50px;
	margin: auto;
	font-size: 12px;
	padding: 15px 0 5px
}

.profile-page .group-list li img {
	height: 50px;
	width: 50px;
	border-radius: 3px;
	margin: 0
}

.profile-page .group-list li span {
	margin: 5px 0;
	line-height: 18px;
	height: 36px;
	width: 50px;
	text-align: center;
	overflow: hidden;
	display: block;
	color: #B2B5BE
}

.profile-joined-page .page-title {
	padding: 0 0 0 15px;
	height: 40px;
	line-height: 40px;
	clear: both
}

.profile-header {
	height: 80px;
	position: relative;
	border-bottom: 1px solid #ebedee
}

.profile-header .profile-info {
	float: left;
	width: 40%;
	margin: 15px;
	line-height: 20px
}

.profile-header .profile-img {
	float: left;
	height: 50px;
	width: 50px;
	border-radius: 25px;
	margin-right: 10px
}

.profile-header .profile-name {
	margin-top: 5px;
	font-size: 14px
}

.profile-header .focus {
	position: absolute;
	right: 65px;
	top: 27px;
	font-size: 13px;
	width: 57px;
	height: 25px;
	line-height: 25px;
	text-align: center;
	background-color: #42CCB5;
	color: #FFF;
	border-radius: 3px
}

.profile-header .focus[data-operation=unfollow] {
	color: #999;
	background-color: #FFF;
	border: 1px solid #eee;
	border-radius: 3px
}

.profile-header .message {
	position: absolute;
	right: 15px;
	top: 27px;
	width: 35px;
	height: 23px;
	border: 1px solid #E0E4E5;
	border-radius: 3px
}

.profile-header .message span {
	position: absolute;
	left: 9px;
	top: 5px;
	height: 13px;
	width: 18px;
	background: url(../images/c0f03d60.icon-message.png) 0 0 no-repeat;
	background-size: 18px 13px
}

.page-title {
	padding: 5px 15px 0 22px;
	background: #f9f9f9;
	line-height: 36px;
	font-size: 16px
}

.page-title .page-tab-flat {
	float: right;
	padding: 0
}