@charset "UTF-8";

@font-face {
	font-family:glyphicons-msite;src:url(./fonts/f5c04a00.glyphicons-msite.eot?30l7os);src:url(./fonts/f5c04a00.glyphicons-msite.eot?#iefix30l7os) format("embedded-opentype"),url(./fonts/dc093a4e.glyphicons-msite.woff?30l7os) format("woff"),url(./fonts/3ef1be1e.glyphicons-msite.ttf?30l7os) format("truetype"),url(./fonts/2c0b657a.glyphicons-msite.svg?30l7os#glyphicons-msite) format("svg");font-weight:400;font-style:normal
}

.glyphicon {
	font-family: glyphicons-msite;
	speak: none;
	font-style: normal;
	font-weight: 400;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale
}

.glyphicon-message:before {
	content: "\e608"
}

.glyphicon-reply:before {
	content: "\e605"
}

.glyphicon-list:before {
	content: "\e600"
}

.glyphicon-share:before {
	content: "\e601"
}

.glyphicon-user:before {
	content: "\e602"
}

.glyphicon-search:before {
	content: "\e603"
}

.glyphicon-zan:before {
	content: "\e604"
}

.glyphicon-exit:before {
	content: "\e607"
}

.glyphicon-notice:before {
	content: "\e606"
}

a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video {
	margin: 0;
	padding: 0;
	border: 0;
	font: inherit;
	vertical-align: baseline;
	-webkit-text-size-adjust: none;
	word-break: break-all
}

article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section {
	display: block
}

ol,ul {
	list-style: none
}

blockquote,q {
	quotes: none
}

blockquote:after,blockquote:before,q:after,q:before {
	content: '';
	content: none
}

table {
	border-collapse: collapse;
	border-spacing: 0
}

a,a:visited {
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	-webkit-tap-highlight-color: transparent;
	-webkit-focus-ring-color: rgba(0,0,0,0);
	outline: 0
}

input[type=text],textarea {
	background: #fff;
	font-size: 14px;
	font-family: "Microsoft YaHei","WenQuanYi Micro Hei",SimHei,Tahoma,sans-serif;
	word-wrap: break-word;
	padding: 2px;
	border: 1px solid #e1e4e5;
	margin: 0 auto;
	outline: 0;
	-webkit-appearance: none;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	-ms-border-radius: 2px;
	-o-border-radius: 2px;
	border-radius: 2px
}

input[type=text] {
	height: 29px;
	line-height: 29px
}

textarea {
	display: block;
	width: 95%;
	height: 144px;
	line-height: 2
}

.gpack {
	overflow: hidden;
	-zoom: 1
}

.gclear:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden
}

.gclear {
	display: block;
	min-height: 1%
}

.gfl {
	float: left;
	-display: inline
}

.gfr {
	float: right;
	-display: inline;
	clear: right;
	white-space: nowrap
}

.gellipsis,.titles li h4 {
	-o-text-overflow: ellipsis;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden
}

.ghide {
	display: none
}

.txt-impt,.txt-impt:visited {
	color: #ea324d
}

.block-title {
	background: #f9f9f9;
	line-height: 40px;
	padding: 0 10px 0 15px;
	border-top: 2px solid #43ccb5;
	border-bottom: 1px solid #e1e4e5;
	overflow: hidden
}

.block-title h2 {
	float: left
}

.block-title a {
	float: right;
	font-size: 14px
}

.tab {
	background: #fff;
	height: 41px;
	line-height: 40px;
	border-bottom: 1px solid #ebedee
}

.tab li {
	float: left;
	margin-right: 2px;
	cursor: pointer
}

.tab li a,.tab li h3 {
	display: block;
	height: 100%;
	padding: 0 12px;
	color: #32393d
}

.tab .current {
	position: relative;
	border-bottom: 2px solid #ea324d
}

.page-tab {
	overflow: hidden;
	margin: 15px 0 5px 15px
}

.page-tab li {
	float: left;
	width: 31%;
	margin-right: 6px
}

.page-tab li a {
	display: block;
	height: 30px;
	line-height: 30px;
	color: #43ccb5;
	font-family: "Microsoft YaHei","WenQuanYi Micro Hei",SimHei,Tahoma,sans-serif;
	font-size: 16px;
	text-align: center;
	border: 1px solid #e7eced;
	cursor: pointer
}

.page-tab .current a {
	background: #43ccb5;
	color: #fff;
	border: 1px solid #43ccb5
}

.page-tab-flat {
	padding: 6.5px 0 0 10px;
	background: #f9f9f9
}

.page-tab-flat li {
	position: relative;
	display: inline-block;
	height: 16px;
	padding: 13.5px 0;
	line-height: 1em
}

.page-tab-flat li:last-child a {
	border: 0
}

.page-tab-flat li a {
	display: inline-block;
	height: 16px;
	padding: 0 11px;
	border-right: 2px solid #ebedee;
	font-size: 14px
}

.page-tab-flat li .arrow-up {
	position: absolute;
	border: 6px dashed transparent
}

.page-tab-flat li .arrow-up-out {
	bottom: -1px;
	left: 50%;
	margin-left: -6px;
	border-bottom-color: #ebedee
}

.page-tab-flat li .arrow-up-in {
	top: -5px;
	left: -6px;
	border-bottom-color: #fff
}

.page-tab-flat .current a {
	color: #43ccb5
}

.titles-list {
	overflow: hidden
}

.titles-list li {
	float: left
}

.titles-list li p {
	overflow: hidden;
	height: 75px;
	position: relative;
	top: -2px
}

.titles {
	margin-bottom: -1px;
	background: #fff;
	overflow: hidden
}

.titles li {
	float: none;
	padding: 0;
	border-bottom: 1px solid #ebedee;
	margin: 0 8px
}

.titles li a {
	display: block;
	margin: 0 10px 0 6.5px
}

.titles li a:active h4,.titles li a:active p,.titles li a:visited h4,.titles li a:visited p {
	color: #999
}

.titles li h4 {
	height: 40px;
	line-height: 40px;
	color: #32393d
}

.titles li .title-detail {
	display: block;
	margin-bottom: 15px;
	overflow: hidden
}

.titles li img {
	float: left;
	max-width: 110px;
	max-height: 74px;
	margin-right: 13px
}

.titles li p {
	font-size: 14px;
	line-height: 1.83;
	color: #868b98
}

.gotop-btn {
	display: none;
	height: 60px;
	line-height: 60px;
	background: #f9f9f9;
	color: #868b98;
	text-align: center;
	border-top: 1px solid #e1e4e5
}

.gotop-btn .icon-up {
	margin-right: 8px
}

.depict {
	text-indent: -999em
}

.mask-light {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,.5);
	z-index: 1000
}

.pop-bd {
	width: 270px;
	background: #fff;
	line-height: 40px;
	margin: 0 auto;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	-ms-border-radius: 2px;
	-o-border-radius: 2px;
	border-radius: 2px
}

.pop-bd .pop-content {
	text-align: center
}

.pop-bd .pop-footer {
	overflow: hidden;
	border-top: 1px solid #e1e4e5
}

.pop-bd .pop-footer a {
	width: 50%;
	height: 45px;
	line-height: 45px;
	color: #43ccb5;
	text-align: center;
	border-right: 1px solid #e1e4e5;
	margin-right: -1px
}

.pop-bd .pop-footer a:active {
	color: #fff;
	background: #43ccb5
}

.pop-bd .pop-footer .pop-left-btn {
	float: left
}

.pop-bd .pop-footer .pop-right-btn {
	float: right
}

.list-header {
	position: relative;
	height: 43px;
	line-height: 43px;
	background: #f9f9f9;
	text-align: center;
	border-bottom: 1px solid #e1e4e5
}

.list-header h1 {
	display: inline
}

.list-header a {
	height: 100%;
	padding: 0 8px;
	margin-right: 7px
}

.list-header .list-header-left {
	position: absolute;
	left: 0;
	top: 0
}

.crumbs {
	border-bottom: 1px solid #ebedee;
	padding-left: 18px;
	line-height: 44px;
	background: #f9f9f9
}

.crumbs a {
	display: block;
	height: 44px
}

.crumbs a b {
	margin-right: 4px
}

.arrow-down,.arrow-left,.arrow-right,.arrow-up {
	width: 0;
	height: 0;
	font-size: 0;
	line-height: 0;
	border: 5px dashed transparent
}

.arrow-up {
	border-bottom-style: solid;
	border-bottom-color: #000
}

.arrow-down {
	border-top-style: solid;
	border-top-color: #000
}

.arrow-right {
	border-left-style: solid;
	border-left-color: #000
}

.arrow-left {
	border-right-style: solid;
	border-right-color: #000
}

.icon-back,.icon-bgdown,.icon-bgright,.icon-close,.icon-close-small,.icon-down,.icon-enter,.icon-logo,.icon-mb,.icon-more,.icon-notice,.icon-out,.icon-pc,.icon-quit,.icon-recom,.icon-recom-disable,.icon-reg,.icon-remind,.icon-reply,.icon-share,.icon-share-disable,.icon-support,.icon-up,.icon-upload-img,.icon-user,.icon-userbar-unlogin,.icon-write {
	display: inline-block;
	text-indent: -9999px;
	overflow: hidden;
	vertical-align: middle
}

.icon-userbar-unlogin {
	background: url(../images/ea55beac.icon-userbar-unlogin.png) no-repeat;
	width: 23.5px;
	height: 23.5px;
	background-size: 23.5px 23.5px
}

.icon-user {
	background: url(../images/929ad323.icon-user.png) no-repeat;
	width: 29.5px;
	height: 29.5px;
	background-size: 29.5px 29.5px
}

.icon-reg {
	background: url(../images/45b5fd90.icon-reg.png) no-repeat;
	width: 29.5px;
	height: 29.5px;
	background-size: 29.5px 29.5px
}

.icon-notice {
	background: url(../images/9a997a57.icon-notice.png) no-repeat;
	width: 22px;
	height: 18.5px;
	background-size: 22px 18.5px
}

.icon-remind {
	background: url(../images/f397e342.icon-remind.png) no-repeat;
	width: 22px;
	height: 16.5px;
	background-size: 22px 16.5px
}

.icon-quit {
	background: url(../images/cc8c414c.icon-quit.png) no-repeat;
	width: 21px;
	height: 19px;
	background-size: 21px 19px
}

.icon-more {
	background: url(../images/21655e89.icon-more.png) no-repeat 5.5px 5.5px;
	width: 29.5px;
	height: 29.5px;
	background-size: 29.5px 29.5px;
	padding: 5.5px
}

.icon-up {
	background: url(../images/1db0cf8a.icon-up.png) no-repeat;
	width: 29.5px;
	height: 29.5px;
	background-size: 29.5px 29.5px
}

.icon-down {
	background: url(../images/1db0cf8a.icon-up.png) no-repeat;
	width: 29.5px;
	height: 29.5px;
	background-size: 29.5px 29.5px;
	transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	-webkit-transform: rotate(180deg)
}

.icon-pc {
	background: url(../images/6b5e672c.icon-pc.png) no-repeat;
	width: 29px;
	height: 23.5px;
	background-size: 29px 23.5px
}

.icon-mb {
	background: url(../images/1e25ac94.icon-mb.png) no-repeat;
	width: 13px;
	height: 23.5px;
	background-size: 13px 23.5px
}

.icon-back {
	background: url(../images/ef1eea3b.icon-back.png) no-repeat;
	width: 29px;
	height: 26.5px;
	background-size: 29px 26.5px
}

.icon-write {
	background: url(../images/7be17a7c.icon-write.png) no-repeat;
	width: 29px;
	height: 29px;
	background-size: 29px 29px
}

.icon-reply {
	background: url(../images/ae0ee64a.icon-reply.png) no-repeat;
	width: 45px;
	height: 45px;
	background-size: 45px 45px
}

.icon-bgdown {
	background: url(../images/d0aa6a3a.icon-bgdown.png) no-repeat;
	width: 16px;
	height: 16px;
	background-size: 16px 16px
}

.icon-bgright {
	background: url(../images/d0aa6a3a.icon-bgdown.png) no-repeat;
	width: 16px;
	height: 16px;
	background-size: 16px 16px;
	transform: rotate(-90deg);
	-ms-transform: rotate(-90deg);
	-webkit-transform: rotate(-90deg)
}

.icon-close {
	background: url(../images/d6823053.icon-close.png) no-repeat;
	width: 22.5px;
	height: 22.5px;
	background-size: 22.5px 22.5px
}

.icon-close-small {
	background: url(../images/4b6ae8be.icon-close-small.png) no-repeat 10px 2px;
	background-size: 12px 12px;
	width: 24px;
	height: 24px
}

.icon-out {
	background: url(../images/82873f5c.icon-out.png) no-repeat;
	width: 14.5px;
	height: 15.5px;
	background-size: 14.5px 15.5px
}

.icon-extend {
	background: url(../images/1db0cf8a.icon-up.png) center center no-repeat;
	width: 29.5px;
	height: 29.5px;
	background-size: 29.5px 29.5px;
	transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	-webkit-transform: rotate(180deg)
}

.icon-extend-cmt {
	background: url(../images/d0aa6a3a.icon-bgdown.png) center center no-repeat;
	width: 18px;
	height: 18px;
	background-size: 18px 18px;
	transform: rotate(-90deg);
	-ms-transform: rotate(-90deg);
	-webkit-transform: rotate(-90deg)
}

.icon-search,.search-container .submit-btn {
	background: url(../images/04b25be7.icon-search-gray.png) 100% 100% no-repeat;
	width: 23px;
	height: 23px;
	background-size: 23px 23px
}

.icon-search:active,.search-container .submit-btn:active {
	background: url(../images/be00e68a.icon-search.png) 100% 100% no-repeat;
	width: 23px;
	height: 23px;
	background-size: 23px 23px
}

.icon-enter {
	background: url(../images/83afd4e7.icon-enter.png) no-repeat;
	width: 15.5px;
	height: 15.5px;
	background-size: 15.5px 15.5px
}

.cmt-form .icon-upload-img {
	background: url(../images/84ee3edf.icon-upload-img.png) no-repeat 10px 13px;
	background-size: 21.5px 16.5px;
	width: 100px;
	height: 35px;
	text-indent: 40px;
	margin-top: -10px
}

.icon-support {
	background: url(../images/15483fd1.icon-support.png) no-repeat;
	width: 7.5px;
	height: 9.5px;
	background-size: 7.5px 9.5px
}

.icon-qq-login {
	background: url(../images/f6cf19e4.icon-qq-login.png) no-repeat;
	width: 17.5px;
	height: 17.5px;
	background-size: 17.5px 17.5px
}

.icon-weibo-login {
	background: url(../images/627cee95.icon-weibo-login.png) no-repeat;
	width: 21px;
	height: 17px;
	background-size: 21px 17px
}

.icon-renren-login {
	background: url(../images/428099ed.icon-renren-login.png) no-repeat;
	width: 16.5px;
	height: 16.5px;
	background-size: 16.5px 16.5px
}

.icon-recom {
	background: url(../images/e2145707.icon-recom.png) no-repeat;
	width: 11px;
	height: 14px;
	background-size: 11px 14px
}

.icon-recom-disable {
	background: url(../images/916b740a.icon-recom-disable.png) no-repeat;
	width: 11px;
	height: 14px;
	background-size: 11px 14px
}

.icon-share {
	background: url(../images/59f8e1ac.icon-share.png) no-repeat;
	width: 13px;
	height: 13px;
	background-size: 13px 13px
}

.icon-share-disable {
	background: url(../images/0718c8cf.icon-share-disable.png) no-repeat;
	width: 13px;
	height: 13px;
	background-size: 13px 13px
}

body {
	transition: padding .25s ease-in-out
}

.nav {
	width: 100%;
	position: fixed;
	z-index: 3;
	top: 0;
	-webkit-transition: all .2s cubic-bezier(0.2,.3,.25,.9);
	transition: all .2s cubic-bezier(0.2,.3,.25,.9)
}

.nav .glyphicon-list,.nav .glyphicon-search,.nav .glyphicon-user {
	color: #A8A8A8;
	font-size: 20px
}

.nav .on .glyphicon-list,.nav .on .glyphicon-search,.nav .on .glyphicon-user {
	color: #43ccb5
}

.nav .nav-top {
	height: 44px;
	border-bottom: 2px solid #43ccb5;
	text-align: center;
	background: #262626;
	overflow: hidden
}

.nav .nav-btm {
	position: relative
}

.nav .nav-btm .tab {
	display: none
}

.nav .nav-btn,.nav .nav-right {
	display: block;
	float: left;
	width: 29px;
	padding: 12px;
	line-height: 0
}

.nav .nav-logo {
	position: relative;
	left: 26px;
	font-size: 18px;
	line-height: 20px;
	color: #fff;
	display: inline-block;
	overflow: hidden;
	vertical-align: middle
}

.nav .nav-right {
	float: right
}

.nav .nav-right.new-message {
	position: relative
}

.nav .nav-right.new-message .red-point {
	position: absolute;
	top: 12px;
	right: 14px;
	display: block;
	z-index: 999;
	width: 6px;
	height: 6px;
	border-radius: 3px;
	background-color: red
}

.nav .nav-right.on {
	background: #131313
}

.nav .icon-userbar,.nav .icon-userbar-unlogin {
	position: relative;
	overflow: visible
}

.nav .nav-login,.nav .nav-unlogin {
	height: 32px;
	background: #f9f9f9;
	padding: 5px 0 4px;
	border-bottom: 1px solid #e1e4e5;
	line-height: 32px;
	overflow: hidden
}

.nav .nav-unlogin {
	position: relative;
	z-index: 3
}

.nav .nav-unlogin a {
	display: block;
	float: left;
	width: 50%;
	height: 29.5px;
	text-align: center;
	color: #868b98;
	border-right: 1px solid #e1e4e5;
	margin-right: -1px
}

.nav .nav-unlogin .icon-reg,.nav .nav-unlogin .icon-user {
	margin-right: 10px
}

.nav .tab-fixed {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%
}

.nav .nav-login {
	display: none;
	overflow: hidden
}

.nav .nav-login-user {
	float: left;
	max-width: 155px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	margin-left: 8px;
	color: #32393d
}

.nav .nav-login-msg {
	float: right;
	margin-right: -2px
}

.nav .nav-login-msg li {
	float: left;
	margin-right: 2px
}

.nav .nav-login-msg a {
	display: block;
	padding: 0 14px;
	text-align: center
}

.nav .nav-login-msg .icon-notice,.nav .nav-login-msg .icon-quit,.nav .nav-login-msg .icon-remind {
	position: relative;
	overflow: visible
}

.nav .nav-login-msg .glyphicon-exit,.nav .nav-login-msg .glyphicon-message,.nav .nav-login-msg .glyphicon-notice {
	font-size: 16px;
	position: relative;
	color: #999
}

.nav .nav-login-msg .glyphicon-message {
	font-size: 19px
}

.nav .nav-login-msg #navMessage a {
	padding-top: 2px
}

.nav .nav-login-msg #navMessage.new-message,.nav .nav-login-msg #navNotice.new-message {
	position: relative
}

.nav .nav-login-msg #navMessage.new-message .red-point,.nav .nav-login-msg #navNotice.new-message .red-point {
	position: absolute;
	top: 7px;
	right: 11px;
	display: block;
	z-index: 999;
	width: 6px;
	height: 6px;
	border-radius: 3px;
	background-color: red
}

.nav .nav-msg-dot {
	position: absolute;
	top: -3px;
	right: -4px;
	display: block;
	width: 8px;
	height: 8px;
	background: #ea324d;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	-ms-border-radius: 4px;
	-o-border-radius: 4px;
	border-radius: 4px
}

.nav-fixed {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 100
}

.nav-side {
	display: none;
	width: 272px;
	height: 100%;
	position: fixed;
	overflow-y: auto;
	top: 0;
	left: 0;
	background-color: #333;
	color: #AAA
}

.nav-side .topic {
	font-size: 18px;
	padding: 0 10px 0 19px;
	height: 58px;
	line-height: 58px;
	background-color: #3D3D3D;
	border-bottom: 1px solid #2B2B2B;
	color: #fff
}

.nav-side .home-back {
	color: #AAA;
	font-size: 16px;
	float: right
}

.nav-side .nav-menu li {
	height: 55px;
	line-height: 55px
}

.nav-side .nav-menu li a {
	display: block;
	padding: 0 10px 0 19px;
	color: #AAA;
	font-size: 16px;
	background-color: #333
}

.nav-side .nav-menu li a:hover {
	background-color: #666
}

.nav-side .nav-menu li.underline {
	border-bottom: 1px solid #2B2B2B
}

.search-box {
	display: none;
	padding: 4px 8px;
	background: #f9f9f9;
	border-bottom: 1px solid #e1e4e5
}

.search-container {
	background: #fff;
	border: 1px solid #e1e4e5;
	position: relative;
	overflow: hidden
}

.search-container form {
	height: 30px;
	line-height: 30px;
	position: relative;
	overflow: hidden
}

.search-container .submit-btn {
	position: absolute;
	top: 4px;
	right: 5px;
	text-indent: -999em
}

.search-container .search-input,.search-container .submit-btn {
	border: 0;
	outline: 0;
	-webkit-appearance: none
}

.search-container .search-input {
	font-size: 14px;
	outline: 0;
	color: #32393d;
	width: 96%;
	height: 16px;
	padding: 3px 5px
}

.footer {
	position: relative;
	background: #262626;
	padding: 5px 10px;
	overflow: hidden;
	border-top: 2px solid #43ccb5
}

.footer a,.footer a:hover,.footer a:visited {
	float: left;
	display: block;
	height: 38px;
	line-height: 38px;
	padding: 0 10px;
	margin-right: 3px;
	color: #fff;
	font-size: 14px
}

.comments {
	padding: 0 8px;
	background: #fff
}

.comments .comment {
	padding: 10px 7px;
	border-bottom: 1px solid #ebedee;
	font-size: 14px;
	line-height: 22px
}

.comments .cmt-main,.comments .cmt-more {
	color: #32393d
}

.comments .cmt-main pre,.comments .cmt-more pre {
	word-break: break-word
}

.comments .cmt-main .cmt-order,.comments .cmt-main .cmt-time,.comments .cmt-more .cmt-order,.comments .cmt-more .cmt-time {
	font-size: 12px;
	color: #868b98
}

.comments .cmt-main .cmt-order,.comments .cmt-more .cmt-order {
	line-height: 16px;
	margin-bottom: 3px
}

.comments .cmt-main .cmt-btn,.comments .cmt-more .cmt-btn {
	color: #43ccb5
}

.comments .cmt-main blockquote,.comments .cmt-more blockquote {
	font-size: 14px;
	padding-left: 10px;
	border-left: 1px solid #e1e4e5;
	color: #999
}

.comments .cmt-main blockquote a,.comments .cmt-more blockquote a {
	color: #999
}

.comments .cmt-main img,.comments .cmt-more img {
	display: block;
	margin: 5px 0;
	max-width: 200px
}

.cmt-form {
	overflow: hidden;
	padding-bottom: 50px;
	background: #fff
}

.cmt-form textarea {
	margin-bottom: 10px
}

.cmt-form .row {
	width: 95%;
	margin: 0 auto
}

.cmt-form .tip {
	color: #d23524;
	font-size: 12px
}

.cmt-form .form-foot {
	width: 95%;
	margin: 0 auto;
	overflow: hidden
}

.cmt-form .form-foot .btn-primary {
	float: right
}

.cmt-form .form-foot .icon-upload-img {
	margin-top: 0
}

.cmt-form .form-login {
	display: block;
	width: 95%;
	height: 144px;
	border: 1px solid #e1e4e5;
	margin: 0 auto
}

.cmt-form .form-login span {
	display: block;
	color: #868b98;
	padding: 20px
}

.cmt-form .form-login b {
	color: #0078b6
}

.cmt-form .form-tip {
	width: 95%;
	margin: 0 auto;
	color: #ea324d
}

.cmt-form .icon-upload-img,.cmt-form .upload-state {
	float: left;
	font-size: 12px;
	color: #868b98
}

.cmt-form p {
	padding: 0 18px;
	color: #868b98
}

.cmt-form blockquote {
	display: block;
	width: 95%;
	margin: 0 auto 10px;
	padding-left: 10px;
	border-left: 1px solid #e1e4e5;
	font-size: 14px;
	line-height: 20px;
	color: #999
}

.cmt-form blockquote a {
	color: #999
}

.cmt-form .participate-group-tip,.cmt-form .participate-group-tip:visited,.cmt-form .unlogin,.cmt-form .unlogin:visited {
	display: block;
	height: 35px;
	line-height: 35px;
	background: #43ccb5;
	color: #fff;
	text-align: center;
	margin: 0 8px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-ms-border-radius: 3px;
	-o-border-radius: 3px;
	border-radius: 3px
}

.uploader {
	width: 95%;
	margin: 0 auto
}

.uploader .upload-input {
	visibility: hidden
}

.uploader .upload-list {
	display: none;
	padding: 10px 6px;
	border-top: 1px solid #ebedee;
	border-bottom: 1px solid #ebedee;
	margin-top: 11px;
	overflow: hidden
}

.uploader .upload-list li {
	position: relative;
	float: left;
	width: 63px;
	height: 63px;
	background: #dcdcdc;
	overflow: hidden;
	margin-right: 13px
}

.uploader .upload-list .icon-close-small {
	position: absolute;
	top: 0;
	right: 0
}

.uploader .upload-list img {
	display: block;
	width: 100%;
	height: 100%
}

.btn-disabled,.btn-disabled:visited,.btn-primary,.btn-primary:visited {
	display: inline-block;
	height: 35px;
	line-height: 35px;
	font-family: "Microsoft YaHei","WenQuanYi Micro Hei",SimHei,Tahoma,sans-serif;
	font-size: 16px;
	padding: 0 19px;
	border: 0
}

.btn-primary,.btn-primary:visited {
	background: #43ccb5;
	color: #fff;
	cursor: pointer
}

.btn-disabled,.btn-disabled:visited {
	background: #868b98;
	color: #fff;
	cursor: default
}

.btn-plat,.btn-plat:visited {
	display: inline-block;
	height: 33px;
	line-height: 33px;
	background: #fff;
	color: #43ccb5;
	font-family: "Microsoft YaHei","WenQuanYi Micro Hei",SimHei,Tahoma,sans-serif;
	font-size: 16px;
	padding: 0 18px;
	border: 1px solid #43ccb5;
	cursor: pointer;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	-ms-border-radius: 2px;
	-o-border-radius: 2px;
	border-radius: 2px
}

.btn-block,.btn-block-active,.btn-block-active:visited,.btn-block:visited {
	display: block;
	height: 66px;
	line-height: 66px;
	text-align: center;
	color: #868b98;
	font-size: 16px
}

.btn-block .icon-bgdown,.btn-block .icon-bgright,.btn-block-active .icon-bgdown,.btn-block-active .icon-bgright,.btn-block-active:visited .icon-bgdown,.btn-block-active:visited .icon-bgright,.btn-block:visited .icon-bgdown,.btn-block:visited .icon-bgright {
	margin: -3px 0 0 5px
}

.btn-block-active {
	color: #43ccb5
}

.btn-long,.btn-long:visited {
	display: block;
	width: 100%;
	height: 45px;
	background: #43ccb5;
	color: #fff;
	line-height: 45px;
	text-align: center;
	cursor: pointer;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	-ms-border-radius: 2px;
	-o-border-radius: 2px;
	border-radius: 2px
}

.btn-gray,.btn-gray-disable,.btn-gray-disable:visited,.btn-gray:visited {
	display: inline-block;
	height: 35px;
	line-height: 35px;
	padding: 0 22px;
	border: 1px solid #f2f2f2;
	background: #f9f9f9;
	color: #43ccb5;
	font-size: 16px
}

.btn-gray-disable,.btn-gray-disable:visited {
	color: #adadad;
	cursor: default
}

.share-box {
	padding: 0 0 10px
}

.share-box a {
	display: inline-block;
	vertical-align: middle
}

.share-box .weibo {
	float: none;
	background: url(../images/a1527284.icon-weibo.png) center center no-repeat;
	width: 24px;
	height: 24px;
	background-size: 24px 24px;
	padding: 0;
	margin: 0 5px
}

.share-box .renren {
	float: none;
	background: url(../images/730cca9f.icon-renren.png) center center no-repeat;
	width: 24px;
	height: 24px;
	background-size: 24px 24px;
	padding: 0;
	margin: 0 5px
}

.share-box .qqweibo {
	float: none;
	background: url(../images/1c2b8378.icon-qqweibo.png) center center no-repeat;
	width: 24px;
	height: 24px;
	background-size: 24px 24px;
	padding: 0;
	margin: 0 5px
}

.share-box .qqzone {
	float: none;
	background: url(../images/ff5e3ce4.icon-qqzone.png) center center no-repeat;
	width: 24px;
	height: 24px;
	background-size: 24px 24px;
	padding: 0;
	margin: 0 5px
}

.share-box .douban {
	float: none;
	background: url(../images/20e3c4ee.icon-douban.png) center center no-repeat;
	width: 24px;
	height: 24px;
	background-size: 24px 24px;
	padding: 0;
	margin: 0 5px
}

.pager {
	padding: 4px 0 17px;
	background: #f9f9f9;
	font-size: 14px
}

.pager li {
	display: inline-block;
	width: 19%;
	text-align: center
}

.pager a,.pager a:visited,.pager span {
	display: inline-block;
	width: 100%;
	color: #868b98
}

.pager .page-num {
	color: #b3b6bd
}

body,html {
	background: #fff;
	font-family: "Microsoft YaHei","WenQuanYi Micro Hei",SimHei,Tahoma,sans-serif;
	min-height: 100%;
	line-height: 40px;
	overflow-x: hidden
}

.msite-container {
	padding-top: 46px;
	min-height: 600px;
	position: relative;
	background-color: #fff;
	overflow: hidden;
	-webkit-transition: -webkit-transform .2s cubic-bezier(0.2,.3,.25,.9);
	transition: transform,padding .2s cubic-bezier(0.2,.3,.25,.9)
}

.msite-overlay {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 999;
	display: none
}

.tab.nav-tag li a {
	padding: 0 8px
}

.side-transform {
	-webkit-transform: translate3d(272px,0,0)!important;
	transform: translate3d(272px,0,0)!important
}

.side-transform .msite-overlay {
	display: block
}

a,a:visited {
	color: #32393d;
	text-decoration: none
}

img {
	vertical-align: middle
}

.main {
	min-height: 65%
}

.spread {
	position: relative;
	overflow: hidden;
	transition: all .2s cubic-bezier(0.2,.3,.25,.9);
	height: 0
}

.spread .top-ad {
	display: block;
	background-color: #FFF
}

.spread .top-ad img {
	width: 100%
}

.spread .icon-close {
	position: absolute;
	margin-top: -14px;
	top: 50%;
	right: 3px;
	padding: 5px;
	background-position: 5px 5px
}

input[name=captcha] {
	width: 60px;
	margin-left: 12px
}

.captcha {
	margin: 0 10px
}

#changeCaptchaImage {
	color: #43ccb5;
	margin: 0 10px
}

.mask {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: #000;
	z-index: 1000
}

.mask .loader-icon {
	position: absolute;
	left: 50%;
	top: 50%;
	margin: -23px 0 0 -23px
}

.mask .mask-box {
	height: 100%;
	width: 100%;
	text-align: center;
	overflow: scroll
}

.mask .mask-top {
	background: -webkit-gradient(linear,left top,left bottom,from(#474747),to(#000));
	background: linear-gradient(top,#474747,#000);
	height: 37px;
	border-bottom: 1px solid #707070;
	position: relative;
	z-index: 3
}

.mask .mask-close {
	float: left;
	display: block;
	width: 45px;
	height: 37px;
	background: url(../images/d27d5a7f.icons-mask-close.png) no-repeat 15px 11px;
	background-size: 10px 15px
}

@media screen and (orientation:landscape) {
	.mask,.mask-box {
		width: 100%
	}
}

@media screen and (orientation:portrait) {
	.mask,.mask-box {
		width: 100%
	}
}

.maskActive {
	overflow: hidden
}

.loader-icon {
	display: block;
	width: 46px;
	height: 46px;
	background: url(../images/f5e41982.ajax-loader.gif) no-repeat
}

.loadMoreAnimate {
	-webkit-animation: loadingLoop 1s .2s ease both infinite;
	-moz-animation: loadingLoop 1s .2s ease both infinite
}

@-webkit-keyframes loadingLoop {
	0% {
		-webkit-transform: translateX(0)
	}

	100% {
		-webkit-transform: translateX(-100px)
	}
}

@-moz-keyframes loadingLoop {
	0% {
		-moz-transform: translateX(0)
	}

	100% {
		-moz-transform: translateX(-100px)
	}
}