.gbbcode-content p,.gbbcode-content pre,.gbbcode-content ul,.gbbcode-content ol,.gbbcode-content h1,.gbbcode-content h2,.gbbcode-content h3,.gbbcode-content h4,.gbbcode-content h5,.gbbcode-content h6,.gbbcode-content div.highlight-container {
	margin: 0 0 2em
}

.gbbcode-content p:last-child,.gbbcode-content pre:last-child,.gbbcode-content ul:last-child,.gbbcode-content ol:last-child,.gbbcode-content h1:last-child,.gbbcode-content h2:last-child,.gbbcode-content h3:last-child,.gbbcode-content h4:last-child,.gbbcode-content h5:last-child,.gbbcode-content h6:last-child,.gbbcode-content div.highlight-container:last-child {
	margin: 0
}

.gbbcode-content img,.gbbcode-content iframe,.gbbcode-content embed {
	max-width: 100%
}

.gbbcode-content embed {
	display: block
}

.gbbcode-content iframe[data-poll] {
	width: 100%;
	border: 0;
	overflow: hidden
}

a[data-video] {
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
	border-radius: 5px;
	background: #000 center center no-repeat;
	background-size: 100% auto;
	display: block;
	overflow: hidden;
	text-indent: -9999px;
	width: 320px;
	height: 240px
}

a[data-video]:before {
	filter: alpha(Opacity=70);
	opacity: .7;
	-webkit-transition: opacity,.1s,ease-in;
	transition: opacity,.1s,ease-in;
	background: url(../images/b4adc330.play.png) center center no-repeat;
	width: 100%;
	height: 100%;
	content: "";
	display: block
}

a[data-video]:hover:before {
	filter: alpha(Opacity=100);
	opacity: 1;
	-webkit-transition: opacity,.1s,ease-in;
	transition: opacity,.1s,ease-in
}

a[data-collapsed] {
	display: block;
	color: #909090;
	font-size: .8em
}

div.highlight-container {
	background: #f8f8f8;
	overflow-x: auto
}

table.highlighttable {
	width: 100%
}

table.highlighttable tr {
	width: 100%
}

table.highlighttable tr,table.highlighttable td {
	display: -webkit-box;
	display: -ms-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: box
}

table.highlighttable td {
	vertical-align: top
}

table.highlighttable td:last-child {
	-webkit-box-flex: 1;
	-ms-box-flex: 1;
	-webkit-flex: 1;
	-ms-flex: 1;
	box-flex: 1
}

table.highlighttable td:last-child div.highlight {
	-webkit-box-flex: 1;
	-ms-box-flex: 1;
	-webkit-flex: 1;
	-ms-flex: 1;
	box-flex: 1
}

div.linenodiv pre,div.highlight pre {
	font-size: .9em;
	line-height: 125%;
	font-family: monospace,Consolas,Monaco,"Courier New",Courier,serif
}

div.linenodiv {
	background: #f0f0f0;
	padding-right: 10px
}

div.linenodiv pre {
	text-align: right;
	padding: 10px 0 10px 10px
}

div.highlight pre {
	padding: 10px;
	white-space: pre
}

div.highlight pre span {
	white-space: pre
}

div.highlight pre .hll {
	background-color: #ffc;
	width: 100%;
	display: inline-block
}

div.highlight pre .c {
	color: #408080;
	font-style: italic
}

div.highlight pre .err {
	border: 1px solid red
}

div.highlight pre .k {
	color: green;
	font-weight: 700
}

div.highlight pre .o {
	color: #666
}

div.highlight pre .cm {
	color: #408080;
	font-style: italic
}

div.highlight pre .cp {
	color: #bc7a00
}

div.highlight pre .c1 {
	color: #408080;
	font-style: italic
}

div.highlight pre .cs {
	color: #408080;
	font-style: italic
}

div.highlight pre .gd {
	color: #a00000
}

div.highlight pre .ge {
	font-style: italic
}

div.highlight pre .gr {
	color: red
}

div.highlight pre .gh {
	color: navy;
	font-weight: 700
}

div.highlight pre .gi {
	color: #00a000
}

div.highlight pre .go {
	color: #888
}

div.highlight pre .gp {
	color: navy;
	font-weight: 700
}

div.highlight pre .gs {
	font-weight: 700
}

div.highlight pre .gu {
	color: purple;
	font-weight: 700
}

div.highlight pre .gt {
	color: #04d
}

div.highlight pre .kc {
	color: green;
	font-weight: 700
}

div.highlight pre .kd {
	color: green;
	font-weight: 700
}

div.highlight pre .kn {
	color: green;
	font-weight: 700
}

div.highlight pre .kp {
	color: green
}

div.highlight pre .kr {
	color: green;
	font-weight: 700
}

div.highlight pre .kt {
	color: #b00040
}

div.highlight pre .m {
	color: #666
}

div.highlight pre .s {
	color: #ba2121
}

div.highlight pre .na {
	color: #7d9029
}

div.highlight pre .nb {
	color: green
}

div.highlight pre .nc {
	color: #00F;
	font-weight: 700
}

div.highlight pre .no {
	color: #800
}

div.highlight pre .nd {
	color: #a2f
}

div.highlight pre .ni {
	color: #999;
	font-weight: 700
}

div.highlight pre .ne {
	color: #D2413A;
	font-weight: 700
}

div.highlight pre .nf {
	color: #00f
}

div.highlight pre .nl {
	color: #a0a000
}

div.highlight pre .nn {
	color: #00F;
	font-weight: 700
}

div.highlight pre .nt {
	color: green;
	font-weight: 700
}

div.highlight pre .nv {
	color: #19177c
}

div.highlight pre .ow {
	color: #A2F;
	font-weight: 700
}

div.highlight pre .w {
	color: #bbb
}

div.highlight pre .mf {
	color: #666
}

div.highlight pre .mh {
	color: #666
}

div.highlight pre .mi {
	color: #666
}

div.highlight pre .mo {
	color: #666
}

div.highlight pre .sb {
	color: #ba2121
}

div.highlight pre .sc {
	color: #ba2121
}

div.highlight pre .sd {
	color: #BA2121;
	font-style: italic
}

div.highlight pre .s2 {
	color: #ba2121
}

div.highlight pre .se {
	color: #B62;
	font-weight: 700
}

div.highlight pre .sh {
	color: #ba2121
}

div.highlight pre .si {
	color: #B68;
	font-weight: 700
}

div.highlight pre .sx {
	color: green
}

div.highlight pre .sr {
	color: #b68
}

div.highlight pre .s1 {
	color: #ba2121
}

div.highlight pre .ss {
	color: #19177c
}

div.highlight pre .bp {
	color: green
}

div.highlight pre .vc {
	color: #19177c
}

div.highlight pre .vg {
	color: #19177c
}

div.highlight pre .vi {
	color: #19177c
}

div.highlight pre .il {
	color: #666
}